html, nav {
    background-color: coral;
  }  

html, header {
  background-color: bisque;
}

html, main {
  background-color: aquamarine;   
}

html, footer {
  background-color: cornflowerblue;
}

html, ol {
  background: salmon;
  padding: 20px;
}

.best2worst {
  background: mistyrose;
  color: darkred;
  padding: 10px;
}


html, body {
  background-color: darkslategray;
}

.favorite {
  background-color: aquamarine;
}

.list {
  background: #F6D0B1;
  color: #A393BF;
  padding: 10px;
}